# The runtime distribution is assembled from the parent and template releases.
/.gitignore export-ignore
/.gitattributes export-ignore
/.gitmodules export-ignore
/.github export-ignore
/scripts export-ignore
/tests export-ignore
/docker export-ignore
/release-series export-ignore
/templates export-ignore
